
body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.header {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    flex: 0 0 auto;
}

li {
    list-style-type: none;
    text-decoration: none;
}

.top {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.left {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    width: 500px;
}

.left h1 {
    flex: 1 1 auto;
    margin: 0px;
}

button {
    width: fit-content;
}

.right {
    width: 500px;
    height: 150px;
    background-color: aquamarine;
}

.top-middle {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 0 1 auto;
    gap: 32px;
    justify-content: center;
}

.item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item img {
    width: 175px;
    height: 175px;
    border-radius: 1em;
    background-color: aquamarine;
}

.bottom-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0px;
    padding: 50px;

}

.bottom {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}