
body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.header {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    flex: 0 0 auto;
}

li {
    list-style-type: none;
    text-decoration: none;
}