
html {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;

    background-color: #f9faf8;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.header {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;

    background-color: #1f2937;
    padding-left: 64px;
    padding-right: 64px;
}

.logo {
    font-size: 24px;
    font-weight: 1000;
    color: #f9faf8;
}

.links {
    display: flex;
    flex: 0 1 auto;
    gap: 32px;

    font-size: 18px;
    color: #e5e7eb;
}

li {
    list-style-type: none;
    text-decoration: none;
}

.top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;

    background-color: #1f2937;
    color: #e5e7eb;
    padding: 64px;
}

.left {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    width: 500px;
}

.left h1 {
    flex: 1 1 auto;
    margin: 0px;
}

.right img {
    background-color: #1f2937;
}

button {
    width: fit-content;
    background-color: #3882f6;
    padding: 8px;
    padding-right: 22px;
    padding-left: 22px;
    color:#e5e7eb;
    border-style: none;
    border-radius: 0.5em;
}

.call button {
    border: 2px solid #e5e7eb;
}

.right {
    width: 500px;
    height: 150px;
    background-color: #616161;
}

.top-inside {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    padding: 32px;

    background-color: #f9faf8
}

.top-inside h2 {
    font-size: 24px;
    font-weight: 1000;
    color: #1f2937;
}

.content {
    display: flex;
    flex: 1 1 auto;
    gap:32px;

    padding-left: 32px;
    padding-right: 32px;
}

.item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    width: 175px;
    height: 175px;
    border-radius: 1em;
    background-color: #f9faf8;
    border: 4px solid #3882f6;
}

.item p {
    text-align: center;
}

.bottom-inside {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    gap: 0px;
    padding: 50px;

    background-color: #e5e7eb;
    font-size: 36px;
}

.bottom-inside p {
    margin:0px;
}

.bottom-inside .container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-end;
    padding: 32px;
    max-width: 1100px;

}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 88px;

    background-color: #f9faf8
}

.call {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    gap: 32px;

    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 0.7em;
}

.call p {
    margin:0px;
}

.title {
    font-weight: 800;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1f2937;
    color: #e5e7eb;
}